<h1>Bienvenido a My Sublimation Store</h1>
<p>Descubre nuestros productos personalizados y únicos.</p>
<a routerLink="/productos" mat-button>Ver Productos</a>
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="inicio.component.css">
    <title>WEB DE VENTAS</title>
</head>

<body>
  
    <div class="container">
        <div class="menu-container">
            <div class="menu-icon" onclick="toggleMenu()">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div> 
        <header>
            <h1>WEB DE VENTAS </h1>
            <div class="logo">
                <img src="assets/images/logoEmpresa.png" alt="logo">
            </div>
        </header>
        
        <main>
            <hr />
            <section id="inicio">
                <div class="welcome-container">
                    <img src="assets/images/welcome.jpg" alt="Bienvenido Imagen" class="welcome-image">
                    <div class="welcome-box">
                        <h2>BIENVENIDO</h2>
                        <button class="start-button2">Comenzar</button>
                    </div>
                </div>
            </section>
            
            <hr />
            
            <section id="nosotros">
                <div class="combined-box">
                    <div class="box-quienes-somos" id="quienes-somos">
                        <h2>Quiénes somos</h2>
                        <div class="additional-info">
                            <p> Somos una Empresa con un compromiso inquebrantable con la calidad, la variedad y sobre todo
                                la satisfacción del cliente, nos esforzamos por ofrecer productos excepcionales que se adaptan a tu estilo de vida. 
                                Nuestra misión es proporcionar una experiencia de compra en línea sin complicaciones, 
                                respaldada por un equipo dedicado que se esfuerza por superar tus expectativas. 
                            </p>
                        </div>
                    </div>
                    <div class="box-objetivos">
                        <h2>Objetivos</h2>
                        <div class="additional-info2">
                            <p> Nuestro principal objetivo es ofrecer productos innovadores y de alta calidad que no solo satisfagan, 
                                sino que también superen las expectativas de nuestros clientes. Buscamos establecer relaciones a largo plazo,
                                basadas en la confianza y la transparencia, para convertirnos en tu elección confiable para todas tus 
                                necesidades de compras.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            
            <hr />
            
            <section id="productos">
                <div class="producto-container">
                    <img src="assets/images/welcome2.jpg" alt="Bienvenido Imagen" class="producto-image">
                    <div class="producto-box">
                        <h2>Nuestros Productos</h2>
                        <p><a href="productos.html" class="comprar-btn">COMPRAR AHORA</a></p>
                    </div>
                </div>
            </section>
            
            <hr />
            
            <section id="Dudas">
                <div class="wrap-grande">
                    <div class="wrap-container sec-faq">
                        <h2 class="desktop-h2">ACLAREMOS TUS DUDAS</h2>
                        <div class="faqs">
                            <div class="faq">
                                <div>
                                    <p class="desktop-parrafo-grande">
                                        ¿Hacen envíos a todo el Perú?
                                    </p>
                                    <img src="assets/svgs/30x30-arrow-down.svg" alt="" />
                                </div>
                                <p class="desktop-parrafo">
                                    Si, hacemos envíos a todo el Perú, ya sea ciudad, provincia o cualquier localidad en el Perú. Para obtener más información al respecto, contáctanos a nuestro WhatsApp que se encuentra debajo para brindarte más información sobre el tema y aclarar tus dudas. ¡Saludos!
                                </p>
                            </div>
                            <div class="faq">
                                <div>
                                    <p class="desktop-parrafo-grande">
                                        ¿En cuantos días llega mi pedido?
                                    </p>
                                    <img src="assets/svgs/30x30-arrow-down.svg" alt="" />
                                </div>
                                <p class="desktop-parrafo">
                                    Contamos con un sistema de envíos eficaz y seguro para nuestros clientes, con tiempos de entrega entre 1 a 3 días, dependiendo de tu ubicación. Asimismo, manejamos distintos medios de envío según tu localidad. Para más información, contáctanos al WhatsApp que encontrarás abajo y así poder brindarte una atención de calidad. ¡Saludos!
                                </p>
                            </div>
                            <div class="faq">
                                <div>
                                    <p class="desktop-parrafo-grande">
                                        ¿Cómo se manejan las devoluciones?
                                    </p>
                                    <img src="assets/svgs/30x30-arrow-down.svg" alt="" />
                                </div>
                                <p class="desktop-parrafo">
                                    Las devoluciones se manejan de dos maneras, según la garantía del producto para un cambio de equipo, o también dispones de 7 días hábiles después de la entrega del pedido para un reembolso. Esto garantiza que nuestros productos cuentan con toda la seguridad y exclusividad del mercado y satisfacción para nuestros clientes.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            <hr />
            
            <section id="contacto">
                <h2>Contacto</h2>
                <p>¡Contáctanos para más información!</p>
            
                <!-- Redes Sociales -->
                <div class="social-media">
                    <a href="#" target="_blank" rel="noopener noreferrer">
                        <img src="assets/images/instagram.png" alt="Instagram" class="social-icon">
                    </a>
                    <a href="#" target="_blank" rel="noopener noreferrer">
                        <img src="assets/images/facebook.png" alt="Facebook" class="social-icon">
                    </a>
                    <a href="https://wa.me/1234567890" target="_blank" rel="noopener noreferrer">
                        <img src="assets/images/whatsapp.png" alt="WhatsApp" class="social-icon2">
                    </a>
                </div>
            
                <!-- Términos y Condiciones y Políticas de Privacidad -->
                <div class="terms-and-privacy">
                    <p><a href="#terminos">Términos y Condiciones</a></p>
                    <p><a href="#privacidad">Políticas de Privacidad</a></p>
                </div>
            </section>
            
            <hr />
        </main>
        
        <footer>
            <p>&copy; 2023 Web Ventas - Todos los derechos reservados.</p>
        </footer>
    </div>
    
    <script src="script.js"></script>
</body>
</html>
